@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 20%;
  background: #eee;
  padding: 4%;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.right-links,
.left-links {
  display: flex;
  list-style-type: none;
  gap: 8px;

}

.right-links {
  margin-right: 3%;
}

a {
  color: rgb(66, 66, 66);
  text-decoration: none;
  
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.footer {
  display: flex;

  justify-content: space-between;
  background-color: rgb(197, 196, 196);

}


.buttons {
  display: flex;
  gap: 8px  ;
  align-self: center;
  margin-top: 1%;
}

button {
  white-space: nowrap;
  flex: 0;

}